span {
    background-color: rgba(218, 190, 190, 0.822);
    border-radius: 50%;
    display: block;
    font-size: 48px;
    height: auto;
    line-height: 3em;
    text-align: center;
    width: 3em;

}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.element {
    width: 24%;
    height: 150px;

}

.element:nth-child(1) {
    background-color: rgb(31, 178, 223);
}

.element:nth-child(2) {
    background-color: rgb(20, 20, 228);
}

.element:nth-child(3) {
    background-color: rgb(209, 28, 194);
}

.element:nth-child(4) {
    background-color: rgb(216, 140, 27);
}

.element:nth-child(5) {
    background-color: rgb(216, 19, 9);
    width: 1180px;
    height: 150px;
}

.element:nth-child(6) {
    background-color: rgb(31, 178, 223);
}

.element:nth-child(7) {
    background-color: rgb(20, 20, 228);
}

.element:nth-child(8) {
    background-color: rgb(209, 28, 194);
}


.element:nth-child(9) {
    background-color: rgb(216, 140, 27);
}

span {
    margin: auto;
}