* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.element {
    width: 24%;
    height: 200px;

}

.element:nth-child(1) {
    background-color: rgb(224, 17, 17);
    width: 1180px;
    height: 50px;
}

.element:nth-child(2) {
    background-color: rgb(229, 233, 3);
    width: 25%;
}

.element:nth-child(3) {
    background-color: rgb(3, 188, 235);
    width: 50%;
}

.element:nth-child(4) {
    background-color: rgb(225, 2, 233);
    width: 25%;
}

.element:nth-child(5) {
    background-color: rgb(10, 173, 10);
    width: 1180px;
    height: 50px;
}
span {
    margin: auto;
}