
1 {
    text-decoration: underline;
}

section h2 {
    color: rgba(224, 0, 0, 0.75);
}

.bold {
    font-weight: bold;
}

#second {
    font-size: 14px;
}

h2 {
    font-style: italic;
}

article.myClass {
    border: 2px solid rgba(44, 158, 22, 0.966);
}


.myClass {
    border: 10px solid #000000;
}
:h
span {
    background-color: lightgray;
}

p span {
    text-transform: uppercase;
}

section>p {
    margin: 20px;
}

#second>h2,h1 {
    text-indent: 15px;
}

p.bold {
 padding: 10px;
}